.docx-container {
    margin: 10px;
    //border-radius: 10px;
    background: $background-content;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;

    height: 90vh;
    overflow-y: scroll;
    position: inherit;

    input.go-to-page {
        width: 20px;
        border: 1px solid #c8c9ce;
        height: 80%;
        background-color: #3c4045;
        color: white;
        text-align: center;
    }
    /* Chrome, Safari, Edge, Opera */
    input.go-to-page::-webkit-outer-spin-button, input.go-to-page::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
    /* Firefox */
    input.go-to-page[type=number] {
        -moz-appearance: textfield;
    }
    input.go-to-page:focus {
        outline: none !important;
        border: 1 solid #70767f;
    }

    .center-options {
        padding-top: 4px;
    }
}


#docx-content {
    width: 70%;
    font-family: $font-family;
    background: white;
    padding: 20px;
    //border-radius: 5px;

    margin: 5px 5px;
    -webkit-box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);

    white-space: pre-wrap;
    

    img {
        max-width: -webkit-fill-available;
    }
}