.pdf-viewer {
    width: 100%;
    margin: auto;
    position: absolute;

    .pdf-toolbar {
        background-color: #6D757D;
        padding: 1px 3px;
        color: white;

        .pdf-toolbar-items {
            display: flex;

            .center-options {
                display: flex;
                justify-content: left;
            }

            .center-options {
                display: flex;
                justify-content: center;
                flex: 1;
            }
            .right-options {
                display: flex;
                justify-content: flex-end;
            }

            .pdf-toolbar-item {
                display: inline;
                width: fit-content;
                background-color: #6D757D;
                padding: 4px;
                font-size: 18px;
                margin: 0 2px;
                &:hover {
                    background-color: #5c6269;
                    color:#78ade9;
                }
            }
            
            .pdf-toolbar-item.disable {
                background-color: rgba(128, 128, 128, 0.694);
                opacity: 0.5;
                cursor: not-allowed;
                pointer-events:none;
            }
        }
        
    }
    input.go-to-page {
        width: 20px;
        border: 1px solid #c8c9ce;
        height: 100%;
        background-color: #3c4045;
        color: white;
        text-align: center;
    }
    /* Chrome, Safari, Edge, Opera */
    input.go-to-page::-webkit-outer-spin-button, input.go-to-page::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    /* Firefox */
    input.go-to-page[type=number] {
        -moz-appearance: textfield;
    }
    input.go-to-page:focus {
        outline: none !important;
        border: 1 solid #70767f;
    }

    .pdf-content {
        background-color: #D3D5D8;
        height: 90vh;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;

        .pdf-page {
            margin: 5px 5px;
            -webkit-box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);
            box-shadow: -2px 0px 14px 0px rgba(0,0,0,0.75);
        }

    }
}
.pdf-sidebar-container {
    margin: 8px -3px;
    padding: 0;
    width: 0;
    background-color: rgba(157, 159, 161, 0.5);
    
    position: fixed;
    height: 90%;
    overflow-y: scroll;    
    flex-direction: column;
    &::after {
        opacity: 0.2;
    }

    .pdf-thumbnail {
        flex: 1;
        align-items: center;
        align-content: unset;
        margin: 4px auto;
        position: relative;
        display: block;
        cursor: pointer;
    }
}