.text-visualizer {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(204,203,203,0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    .text-content {
        font-family: $font-family;
        background: rgba(255, 255, 255, 0.656);
        padding: 5px;
        border-radius: 5px;
    }
}