.toolbar {
  background-color: $backgroud-toolbar;
  padding: 1px 3px;
  color: white;
  width: 100%;

  .toolbar-items {
    display: flex;

    .left-options {
      display: flex;
      justify-content: left;
    }

    .center-options {
      display: flex;
      justify-content: center;
      flex: 1;
    }
    .right-options {
      display: flex;
      justify-content: flex-end;
    }

    .toolbar-item {
      display: inline;
      width: fit-content;
      background-color: $backgroud-toolbar-item;
      padding: 4px;
      font-size: 18px;
      margin: 0 2px;
      &:hover {
        background-color: $backgroud-toolbar-item-on-hover;
        color:#78ade9;
      }

      .toolbar-item-option {
        z-index: 100;
        position: absolute;
        padding: 2px;
        background-color: $backgroud-toolbar-item-option;

        input[placeholder] {
          font-style: italic;
        }
        input:focus, input:focus{
          outline: none;
        }
      }
    }
  }
}